* {
    padding: 0;
    margin: 0;
    border: none;
}

h1,
h2 {

}

#title, #nav {
    line-height: 75%;
}

#title {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

#navigation {
    float: right;
    font-size: 110%;
    letter-spacing: 5px;
    
}

#navigation li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#title, #navigation li {
    margin-top: 10px;
}

#navigation a {
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 1px dashed blue;
}

.active {
    border-bottom: 1px dashed blue;
}