* {
    padding: 0;
    margin: 0;
    border: none;
}

h1,
h2 {

}

#title, #nav {
    line-height: 75%;
}

#title {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

#navigation {
    float: right;
    font-size: 110%;
    letter-spacing: 5px;
    
}

#navigation li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#title, #navigation li {
    margin-top: 15px;
}

#navigation a {
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 1px dashed blue;
}

.active {
    border-bottom: 1px dashed blue;
}

/* main image */ 

#image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/gallery/pexels-allan-mas-5383741\ \(1\).jpg') no-repeat center center;
    margin: 20px 0 0;
    background-size: cover;
}

#cover-text {
    font-size: 130%;
        font-family:'Courier New', Courier, monospace sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
    
        width: 90%;
        height: 150px;
        margin-right: 30px;
    
        padding-top: 20px;
        padding-left: 10px;
    
        background-color: rgba(19, 36, 185, 0.6);
        bottom: 30px;
        right: 50px;
        color: white;
        position: absolute;

}


#offer {
    height: 300px;
    width: 100%;
    background: url('../images/gallery/pexels-photo-6674479.jpeg') no-repeat center center;
    background-size: scroll;
}
#left-offer {
    float: left;
    width: 20%;
    margin-left: 10px;
    padding-top: 20px;
    background-color: rgba(19, 36, 185, 0.6);
    text-align: center;
}

#right-offer {
    float: right;
    width: 20%;
    margin-right: 10px;
    padding-top: 20px;
    background-color: rgba(238, 28, 20, 0.6);
    text-align: center;
}
#divider {
    text-align: center;
    font-size: 200%;
}

#right-offer ul, #left-offer ul {
    list-style-type: none;
}